header
    .container
        nav.pull-left
            a#site-logo(href="/") Payments App
        nav#main-nav
            block main_nav
                a.button(href="/dashboard") Dashboard
                form(action="/user/session/destroy" method="POST")
                    button Logout
