doctype html
html
    head
        include ../includes/head
        block head

    body#application
        include ../includes/site-header

        main
            .container
                block content

