@import "font-awesome.min";
@import "generic";

.small-container {
    margin: 0 auto;
    width: 500px;
}

.step {
    margin-bottom: 40px;

    h4 {
        margin-bottom: 12px;
    }

    p {
        font-size: 16px;
        margin-bottom: 12px;
    }

    &:after {
        content: '';
        display: table;
        clear: both;
    }


    & > .half {
        width: 47%;
        margin-right: 6%;

        &.divider:after {
            background-color: #eaeaea;
            content: '';
            display: block;
            position: absolute;
            width: 1px;
            height: 100%;
            right: -6%;
            top: 0;
            bottom: 0;
        }
    }

    & > .two-thirds {
        width: 65.2%;
    }

    & > .third {
        width: 30.6%;
    }

    & > .half, & > .third, & > .two-thirds {
        position: relative;
        vertical-align: top;
        display: inline-block;
        float: left;
        margin-right: 4%;

        &:last-child {
            margin-right: 0px;

            &.divider:after {
                content: none;
                display: none;
            }
        }
    }
}

@media only screen and (max-width : 500px) {
    .small-container {
        width: 100%;
        padding: 0px 3%;
    }
}
